Repository not-three/api, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, controller, decorator, guards, services, types, code, docker, package

chore: updated port to 4000
  Dockerfile
  docker-compose.yml
  src/main.ts
Labels: code, docker

fix: added NaN check
  src/controller/create.controller.ts
Labels: controller, code

ci: added docs publish
  .github/workflows/nightly.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
Labels: ci

fix: db config rename value username -> user
  src/types/config/Database.ts
Labels: types, code

chore: added deploy ref
  README.md
Labels: none

fix: timestamp columns type int -> bigint
  src/services/migration.service.ts
Labels: services, code

feat: added curl to docker image
  Dockerfile
Labels: docker

chore: updated license nposl -> agpl
  LICENSE
  package.json
Labels: package

fix: pg int / bigint type convertions
  docker-compose.db.yml
  docker-compose.override.yml
  package.json
  src/services/database.service.ts
  src/services/migration.service.ts
  src/services/s3.service.ts
  src/types/config/Base.ts
Labels: services, types, code, package

feat: added ors interceptor
  docker-compose.db.yml
  docker-compose.override.yml
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  src/decorator/global.decorator.ts
  src/etc/cors.interceptor.ts
  src/etc/esm-fix.ts
  src/services/database.service.ts
  src/types/config/Cors.ts
Labels: decorator, services, types, code, package

feat: getIp -> ipv6 slice N bytes
  src/etc/getIp.ts
  src/services/migration.service.ts
  src/types/config/Base.ts
  src/types/config/Database.ts
  src/types/config/GetIp.ts
  src/types/config/index.ts
Labels: services, types, code

fix: missing stack trace in logging
  src/etc/exception.filter.ts
Labels: code

ci: added nightly docs
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  README.md
Labels: ci

ci: fix permissions
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
Labels: ci

ci: added missing build steps
  .github/workflows/nightly.yml
Labels: ci

fix: log_level env not properly working
  package.json
  src/main.ts
  src/types/config/Base.ts
Labels: types, code, package

fix: cors interceptor not sending on OPTIONS request
  src/decorator/global.decorator.ts
  src/etc/cors.interceptor.ts
  src/main.ts
  src/types/config/Cors.ts
Labels: decorator, types, code

chore: removed DISABLE_SWAGGER and PORT env direct access
  src/main.ts
Labels: code

chore: moved config folder src/types/config -> src/config
  src/config/Base.ts
  src/config/Cors.ts
  src/config/Database.ts
  src/config/FileTransfer.ts
  src/config/GetIp.ts
  src/config/Helper.ts
  src/config/Limits.ts
  src/config/index.ts
  src/etc/getIp.ts
  src/main.ts
  src/services/config.service.ts
  typedoc.json
Labels: services, code

feat: added banned ips to stats
  src/services/database.service.ts
  src/types/api/StatsResponse.ts
Labels: services, types, code

feat: added IP_HEADER and TRUSTED_PROXIES (...) options
  package.json
  pnpm-lock.yaml
  src/config/GetIp.ts
  src/controller/create.controller.ts
  src/controller/delete.controller.ts
  src/controller/fetch.controller.ts
  src/controller/files.controller.ts
  src/controller/stats.controller.ts
  src/etc/getIp.ts
  src/guards/ban.guard.ts
  src/guards/log.guard.ts
  src/guards/request.guard.ts
  src/services/migration.service.ts
  typedoc.json
Labels: controller, guards, services, code, package

feat: added verbose log level
  src/config/Base.ts
  src/main.ts
Labels: code

fix: stats -> ban table does not have id
  src/services/database.service.ts
Labels: services, code

fix: wrong default value for STRIP_IPV6_ADDRESS
  src/config/GetIp.ts
Labels: code

fix: getIp issues with ipv6 parsing
  package.json
  pnpm-lock.yaml
  src/etc/esm-fix.ts
  src/etc/getIp.ts
Labels: code, package

deploy: ed415d6a0e09aefe7db2e529dea882983e449a49
  .nojekyll
  nightly/.nojekyll
  nightly/assets/custom.css
  nightly/assets/hierarchy.js
  nightly/assets/highlight.css
  nightly/assets/icons.js
  nightly/assets/icons.svg
  nightly/assets/main.js
  nightly/assets/navigation.js
  nightly/assets/search.js
  nightly/assets/style.css
  nightly/classes/BaseConfig.html
  nightly/classes/CorsConfig.html
  nightly/classes/DatabaseConfig.html
  nightly/classes/FileTransferConfig.html
  nightly/classes/GetIpConfig.html
  nightly/classes/LimitsConfig.html
  nightly/index.html
Labels: none

Create CNAME
  CNAME
Labels: none

fix: using wrong ip in proxy behind proxy cases
  src/etc/getIp.ts
Labels: code

feat: file transfers, 2.0 rc
  .dockerignore
  .github/dependabot.yml
  .github/workflows/nightly.yml
  .github/workflows/pr.yml
  .gitignore
  .lando.yml
  .prettierrc
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/config/Base.ts
  src/config/FileTransfer.ts
  src/config/Limits.ts
  src/controller/fetch.controller.ts
  src/controller/files.controller.ts
  src/controller/stats.controller.ts
  src/decorator/global.decorator.ts
  src/etc/exception.filter.ts
  src/etc/getIp.ts
  src/guards/password.guard.ts
  src/main.ts
  src/services/config.service.ts
  src/services/s3.service.ts
  src/types/api/FileGetResponse.ts
  src/types/api/FileUploadPartResponse.ts
  src/types/api/InfoResponse.ts
Labels: ci, controller, decorator, guards, services, types, code, package

deploy: 5979ffc699e253930b50db67a06a2e2a07cece56
  nightly/assets/highlight.css
  nightly/assets/search.js
  nightly/classes/BaseConfig.html
  nightly/classes/CorsConfig.html
  nightly/classes/DatabaseConfig.html
  nightly/classes/FileTransferConfig.html
  nightly/classes/GetIpConfig.html
  nightly/classes/LimitsConfig.html
Labels: none

ci: fixed missing permission
  .github/workflows/pr.yml
Labels: ci

.github/labeler.yml:

ci: .github/workflows/*
controller: src/controller/**
decorator: src/decorator/**
guards: src/guards/**
services: src/services/**
types: src/types/**
code: src/**
docker: Dockerfile
package:
  - package.json
  - pnpm-lock.yaml
