Repository not-three/api, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, controller, decorator, guards, services, types, code, docker, package

ci: added redeploy webhooks
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
Labels: ci

chore: added pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

chore: add dependabot grouping
  .github/dependabot.yml
Labels: none

deploy: dc3e079ee38ddf4fb0242b9ec53c2f26134f7232
  nightly/assets/main.js
  nightly/assets/search.js
  nightly/assets/style.css
  nightly/classes/BaseConfig.html
  nightly/classes/CorsConfig.html
  nightly/classes/DatabaseConfig.html
  nightly/classes/FileTransferConfig.html
  nightly/classes/GetIpConfig.html
  nightly/classes/LimitsConfig.html
  nightly/hierarchy.html
  nightly/index.html
Labels: none

deploy: 65354a77b1213d6a4e06100711683acd41e7eef6
  nightly/assets/icons.js
  nightly/assets/icons.svg
  nightly/assets/main.js
  nightly/assets/style.css
Labels: none

feat: added ssl option for database
  docker-compose.db.yml
  pnpm-workspace.yaml
  src/config/Database.ts
  src/services/database.service.ts
Labels: services, code

fix: missing python build utilities
  Dockerfile
Labels: docker

deploy: fa93b55aeee4644f6e861900eea2c00216c4ee80
  nightly/assets/search.js
  nightly/classes/DatabaseConfig.html
Labels: none

Deploying to docs from @ not-three/api@fa93b55aeee4644f6e861900eea2c00216c4ee80 🚀
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/search.js
  assets/style.css
  classes/BaseConfig.html
  classes/CorsConfig.html
  classes/DatabaseConfig.html
  classes/FileTransferConfig.html
  classes/GetIpConfig.html
  classes/LimitsConfig.html
  hierarchy.html
  index.html
Labels: none

fix: added follow redirect option for s3 client
  src/config/FileTransfer.ts
  src/services/s3.service.ts
Labels: services, code

deploy: 61e0efb5caeeca947555180db79d192826b299f3
  nightly/assets/search.js
  nightly/classes/FileTransferConfig.html
Labels: none

Deploying to docs from @ not-three/api@61e0efb5caeeca947555180db79d192826b299f3 🚀
  assets/search.js
  classes/FileTransferConfig.html
Labels: none

fix: extend mime field length to 64
  src/services/migration.service.ts
Labels: services, code

chore: linting
  src/services/migration.service.ts
Labels: services, code

chore: update pnpm workspace configuration with new overrides and minimum release age exclusions
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package

chore: update node version to 25 in workflows for nightly, PR, and publish
  .github/workflows/nightly.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
Labels: ci

fix: add pnpm-workspace.yaml to Dockerfile
  Dockerfile
Labels: docker

fix: resolve TypeScript 6 build errors from dev-deps bump
  src/services/database.service.ts
  tsconfig.json
Labels: services, code

deploy: e35e1b695b969799cceee1c2437668cd5f2f9d8b
  nightly/assets/icons.js
  nightly/assets/icons.svg
  nightly/assets/main.js
Labels: none

chore: refresh pnpm audit fix for qs advisory
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package

fix: keep TypeScript on 6.x until the TS 7 compiler API lands
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
Labels: package

chore(deps-dev): update brace-expansion and tar overrides in lockfiles
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package

deploy: e6a3d5cd93c362a564e8d37db08842474a2550e1
  nightly/assets/highlight.css
  nightly/assets/main.js
  nightly/assets/style.css
  nightly/classes/BaseConfig.html
  nightly/classes/CorsConfig.html
  nightly/classes/DatabaseConfig.html
  nightly/classes/FileTransferConfig.html
  nightly/classes/GetIpConfig.html
  nightly/classes/LimitsConfig.html
  nightly/hierarchy.html
  nightly/index.html
Labels: none

fix: increase max length of upload_id in files table to 1024
  src/services/migration.service.ts
Labels: services, code

fix: resolve AWS SDK to versions satisfying the release-age policy
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
Labels: package

Deploying to docs from @ not-three/api@ccfeadbe7a051a2db76f00a7ca8bef3b6bdc6ed0 🚀
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/style.css
  classes/BaseConfig.html
  classes/CorsConfig.html
  classes/DatabaseConfig.html
  classes/FileTransferConfig.html
  classes/GetIpConfig.html
  classes/LimitsConfig.html
  hierarchy.html
  index.html
Labels: none

test: add jest infrastructure, e2e app helper and config helper tests
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/config/Helper.spec.ts
  test/app.ts
  test/esm-fix-mock.ts
  tsconfig.json
Labels: code, package

fix: correct swapped AES arguments in crypto service and add unit tests
  jest.config.js
  src/etc/getIp.spec.ts
  src/services/crypto.service.spec.ts
  src/services/crypto.service.ts
  test/jest.setup.ts
Labels: services, code

test: add notes e2e coverage for create, fetch, delete and token limits
  test/notes.e2e-spec.ts
Labels: none

fix: return 404 when decrypting a missing note and add decrypt e2e tests
  src/controller/fetch.controller.ts
  test/decrypt.e2e-spec.ts
Labels: controller, code

test: add system, stats and instance password e2e coverage
  test/system.e2e-spec.ts
Labels: none

test: add rate limiting and ban flow e2e coverage
  test/rate-limit.e2e-spec.ts
Labels: none

fix: await file part counter update, invalidate file cache on delete and honor documented status codes
  src/controller/fetch.controller.ts
  src/controller/files.controller.ts
  src/services/database.service.ts
  test/decrypt.e2e-spec.ts
  test/files.e2e-spec.ts
Labels: controller, services, code

fix: match stale multipart uploads with whereNotNull and add maintenance e2e tests
  src/services/database.service.ts
  test/maintenance.e2e-spec.ts
Labels: services, code

ci: run the test suite on pull requests
  .github/workflows/pr.yml
Labels: ci

chore: add valkey dependencies
  package.json
  pnpm-lock.yaml
Labels: package

feat: add valkey config section and database requestOptimization option
  src/config/Base.ts
  src/config/Database.spec.ts
  src/config/Database.ts
  src/config/Valkey.spec.ts
  src/config/Valkey.ts
  src/config/index.ts
  src/etc/optimization.spec.ts
  src/etc/optimization.ts
Labels: code

feat: add valkey service with rate limit primitives
  src/app.module.ts
  src/services/valkey.service.spec.ts
  src/services/valkey.service.ts
Labels: services, code

feat: add note write-buffer primitives to valkey service
  src/services/valkey.service.spec.ts
  src/services/valkey.service.ts
Labels: services, code

feat: back the cache manager with valkey when enabled
  package.json
  pnpm-lock.yaml
  src/app.module.ts
Labels: code, package

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file: [.github/workflows/*]
controller:
- changed-files:
  - any-glob-to-any-file: [src/controller/**]
decorator:
- changed-files:
  - any-glob-to-any-file: [src/decorator/**]
guards:
- changed-files:
  - any-glob-to-any-file: [src/guards/**]
services:
- changed-files:
  - any-glob-to-any-file: [src/services/**]
types:
- changed-files:
  - any-glob-to-any-file: [src/types/**]
code:
- changed-files:
  - any-glob-to-any-file: [src/**]
docker:
- changed-files:
  - any-glob-to-any-file: [Dockerfile]
package:
- changed-files:
  - any-glob-to-any-file: [package.json, pnpm-lock.yaml]
