Repository not-three/api, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, controller, decorator, guards, services, types, code, docker, package

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file: [.github/workflows/*]
controller:
- changed-files:
  - any-glob-to-any-file: [src/controller/**]
decorator:
- changed-files:
  - any-glob-to-any-file: [src/decorator/**]
guards:
- changed-files:
  - any-glob-to-any-file: [src/guards/**]
services:
- changed-files:
  - any-glob-to-any-file: [src/services/**]
types:
- changed-files:
  - any-glob-to-any-file: [src/types/**]
code:
- changed-files:
  - any-glob-to-any-file: [src/**]
docker:
- changed-files:
  - any-glob-to-any-file: [Dockerfile]
package:
- changed-files:
  - any-glob-to-any-file: [package.json, pnpm-lock.yaml]

feat: profile-driven cache ttls and scheduler slowdown for light mode
  src/services/database.service.spec.ts
  src/services/database.service.ts
  src/services/s3.service.ts
Labels: services, code

feat: move rate limit tracking to valkey in hard mode
  src/services/database.service.spec.ts
  src/services/database.service.ts
Labels: services, code

feat: buffer note writes in valkey and flush in batches in hard mode
  src/services/database.service.spec.ts
  src/services/database.service.ts
Labels: services, code

fix: do not crash on a note delete request without a body
  src/controller/delete.controller.ts
  test/notes.e2e-spec.ts
Labels: controller, code

docs: document valkey support and request optimization modes
  README.md
  docker-compose.valkey.yml
Labels: none

fix: reject non-string decryption keys instead of bypassing the length limit
  src/controller/fetch.controller.ts
  test/decrypt.e2e-spec.ts
Labels: controller, code

fix: flush the valkey write buffer on SIGTERM
  src/main.ts
  src/services/database.service.spec.ts
  src/services/valkey.service.spec.ts
  src/services/valkey.service.ts
Labels: services, code

fix: handle missing bodies and repeated query parameters without crashing
  src/controller/create.controller.ts
  src/controller/files.controller.ts
  test/files.e2e-spec.ts
  test/notes.e2e-spec.ts
Labels: controller, code

deploy: ef1c0a0e08cd6da6e845810c549ded81255da471
  nightly/assets/navigation.js
  nightly/assets/search.js
  nightly/classes/DatabaseConfig.html
  nightly/classes/ValkeyConfig.html
  nightly/index.html
Labels: none

chore: Remove Valkey integration and optimization details
  README.md
Labels: none

Deploying to docs from @ not-three/api@ef1c0a0e08cd6da6e845810c549ded81255da471 🚀
  assets/navigation.js
  assets/search.js
  classes/DatabaseConfig.html
  classes/ValkeyConfig.html
  index.html
Labels: none

feat(p2p): add signaling configuration and info fields
  src/config/Base.ts
  src/config/P2P.spec.ts
  src/config/P2P.ts
  src/config/index.ts
  src/controller/stats.controller.ts
  src/types/api/InfoResponse.ts
  test/system.e2e-spec.ts
Labels: controller, types, code

feat(p2p): add transfer and room session registry
  src/app.module.ts
  src/services/p2p-session.service.spec.ts
  src/services/p2p-session.service.ts
Labels: services, code

feat(p2p): add WebSocket signaling gateway
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/services/p2p-gateway.service.ts
  test/app.ts
  test/p2p.e2e-spec.ts
Labels: services, code, package

test(p2p): verify shared abuse controls
  src/services/p2p-gateway.service.ts
  test/p2p.e2e-spec.ts
Labels: services, code

feat(p2p): relay sessions and addressed signals across Valkey replicas
  src/services/p2p-gateway.service.ts
  src/services/p2p-session.service.ts
  src/services/valkey.service.spec.ts
  src/services/valkey.service.ts
  test/app.ts
  test/p2p.e2e-spec.ts
Labels: services, code

fix(p2p): close review gaps in rate limits and relay cleanup
  src/config/P2P.ts
  src/services/p2p-gateway.service.ts
  src/services/p2p-session.service.spec.ts
  src/services/p2p-session.service.ts
  src/services/valkey.service.spec.ts
  src/services/valkey.service.ts
  test/app.ts
  test/p2p.e2e-spec.ts
Labels: services, code

fix(p2p): close active sockets before HTTP shutdown
  src/services/p2p-gateway.service.ts
  test/p2p.e2e-spec.ts
Labels: services, code

fix(p2p): serialize socket frames and settle shutdown cleanup
  src/services/p2p-gateway.service.ts
  test/p2p.e2e-spec.ts
Labels: services, code

fix: clean up p2p admissions after socket close
  src/services/p2p-gateway.service.ts
  src/services/p2p-session.service.ts
  src/services/valkey.service.spec.ts
  src/services/valkey.service.ts
  test/p2p.e2e-spec.ts
Labels: services, code

fix: sweep expired p2p peers on join-only replicas
  src/services/p2p-session.service.ts
  test/p2p.e2e-spec.ts
Labels: services, code

fix: stop idle p2p sweeps after peer cleanup
  src/services/p2p-session.service.ts
  test/p2p.e2e-spec.ts
Labels: services, code

fix: handle p2p wire errors and room grace
  src/services/p2p-gateway.service.ts
  src/services/p2p-session.service.spec.ts
  src/services/p2p-session.service.ts
  test/p2p.e2e-spec.ts
Labels: services, code

test: document p2p conformance and close coverage gaps
  src/config/P2P.spec.ts
  src/services/p2p-session.service.spec.ts
  test/app.ts
  test/p2p.e2e-spec.ts
  test/system.e2e-spec.ts
Labels: services, code

fix(p2p): reject malformed upgrade targets safely
  src/services/p2p-gateway.service.ts
  test/p2p.e2e-spec.ts
Labels: services, code

fix: retain p2p IP quota through room grace
  src/services/valkey.service.spec.ts
  src/services/valkey.service.ts
  test/p2p.e2e-spec.ts
Labels: services, code

deploy: 21a11097194cd472171f09189e66fa1358506b41
  nightly/assets/highlight.css
  nightly/assets/navigation.js
  nightly/assets/search.js
  nightly/classes/P2PConfig.html
  nightly/index.html
Labels: none

test(p2p): drop tooling references from the conformance checklist header
  test/p2p.e2e-spec.ts
Labels: none

fix(deps): patch transitive security advisories
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package

fix(deps): retain CommonJS compatible NestJS packages
  package.json
  pnpm-lock.yaml
Labels: package

Deploying to docs from @ not-three/api@976adb0c08b09ca082abc5783b23e200137bf7cc 🚀
  assets/highlight.css
  assets/navigation.js
  assets/search.js
  classes/P2PConfig.html
  index.html
Labels: none
